.Page {
	max-width: $breakpointDesktop;
	width: 100%;
	margin: 0 auto;
	flex: 1;

	display: flex;
	flex-direction: column;

	&__title {
		color: rgba(var(--color-base));
		font-size: 2rem;
		text-align: center;
	}


	&__content {
		flex: 1;
	}
}
