  .Header {
		max-width: $breakpointDesktop;
		width: 100%;
		margin: 0 auto;
	  color: rgba(var(--color-base));

		display: flex;
		justify-content: space-between;
		align-items: center;

		&__logo {
			text-decoration: none;
			color: inherit;
			font-size: 1.3rem;
		}
  }
