  .Nav {
	  color: rgba(var(--color-base));
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		list-style: none;

		&__link {
			text-decoration: none;
			color: rgba(var(--color-base), 1);
			font-weight: 700;

			&:hover {
				opacity: 0.9;
			}
		}
  }
