:root {
  --color-base: 255, 255, 255;
  --color-black: 0, 0, 0;
  --color-primary: 238, 153, 142;
  --color-secondary: 134, 170, 210;
  --color-tertiary: 42, 71, 94;
  --color-text: 199, 213, 224;

  --color-red: 233, 17, 51;
  --color-green: 152, 251, 152;
}

html {
	font-size: 16px;
	background-color: black;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

